html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Rationale", sans-serif;
	font-family: "Roboto", sans-serif;
	color: #ffff;
	background: #000;
}
.wrapper {
	max-width: 1152px;
	margin: 0 auto;
}
.container {
	max-width: 890px;
	margin: 0 auto;
}
/* menu + title */
.header {
	background: linear-gradient(rgba(1, 1, 1, 0.85), rgba(1, 1, 1, 0.85)),
		url(../img/header/header__background.webp) center/cover no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.85)), to(rgba(1, 1, 1, 0.85))),
		url(../img/header/header__background.webp) center/cover no-repeat;
	max-height: 700px;
	padding: 55px 0 0 0;
}
.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 100px;
}
.logo {
	display: flex;
	align-items: center;
}
.logo__name {
	font-family: "Rationale", sans-serif;
	font-size: 36px;
	line-height: 42px;
}
.logo a {
	text-decoration: none;
	color: #fff;
}
.menu {
	display: flex;
	justify-content: space-between;
	width: 50%;
	font-size: 14px;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
}
.menu__btn {
	display: none;
}
.menu__items {
	list-style: none;
}
.menu__link {
	position: relative;
	color: #ffff;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}
.menu__link::after {
	display: block;
	position: absolute;
	right: 0;
	width: 0;
	height: 1px;
	background-color: #fff;
	content: "";
	transition: width 0.5s ease-out;
}
.menu__link:hover::after,
.menu__link:focus::after {
	width: 80%;
}
.header__content {
	text-align: right;
	font-family: "Roboto", sans-serif;
}
.header__title {
	margin-bottom: 25px;
	font-size: 64px;
	line-height: 75px;
	font-weight: 200;
}
.title {
	font-family: Roboto;
	text-align: center;
	font-weight: 200;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #ffffff;
}
.subtitle {
	font-size: 36px;
	line-height: 42px;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 25px;
}
.header__btn {
	padding: 15px 65px 15px 65px;
	background: #000;
	border: #fff 1px solid;
	color: #fff;
	margin-bottom: 220px;
}
/* slider */
.slider {
	position: relative;
	padding: 50px 50px 1400px 50px;
	background: url(../img/backgroun/klipartz\ 2.png) center -300px / auto no-repeat,
	url(../img/backgroun/klipartz\ 3.png) 0 600px / auto no-repeat;
}
.slider__container {
	max-width: 50%;
}
.slick-track {
	display: flex;
}
.slick-list {
	overflow: hidden;
	max-height: 300px;
}
.slick-arrow {
	position: absolute;
	top: 10%;
	font-size: 0;
	z-index: 10;
	width: 40px;
	height: 70px;
}
.slick-arrow.slick-prev {
	left: 0;
	background: url(../img/slider/left.webp) 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next {
	right: 0;
	background: url(../img/slider/right.webp) 0 0 / 100% no-repeat;
}
.slider__title {
	font-family: "Roboto", sans-serif;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.1em;
	padding-bottom: 50px;
}
.slider__content {
	display: flex;
	justify-content: center;
}
.slider__img--container {
	position: relative;
}
.slick-dots {
	display: flex;
	justify-content: center;
}
.slick-dots li {
	list-style: none;
	margin: 0 10px;
}
.slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}
.slick-active button {
	background: transparent;
	border: 1px #fff solid;
}
.img-layer1-ps {
	z-index: 1;
}
.img-layer2-ps {
	z-index: 2;
	position: absolute;
	left: 35px;
	top: 148px;
}
.img-layer1-xbox {
	z-index: 1;
}
.img-layer2-xbox {
	z-index: 2;
	position: absolute;
	left: -65px;
	top: 95px;
}
.slider__text {
	margin-left: 50px;
}
.text__title {
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.1em;
	padding-bottom: 50px;
}
.text__content {
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 0.1em;
	color: #ffffffaa;
}
/*    rent    */
.rent {
	margin-top: -1200px;
	margin-bottom: 200px;
	padding-top: 15px;
}
.rent__inner {
	padding-top: 75px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.rent-condition {
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.rent-condition__title {
	max-width: 300px;
	padding-top: 30px;
	font-family: Roboto;
	font-weight: 200;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #ffffff;
	text-align: center;
}
.rent-condition__list {
	list-style-type: "- ";
}
.rent-condition__list-item {
	font-family: Roboto;
	font-weight: normal;
	text-align: start;
	font-size: 10px;
	line-height: 20px;
	letter-spacing: 0.2em;
	color: #ffffff;
}
.circle1 {
	border: 0.5px solid rgb(255, 255, 255);
	border-radius: 50%;
	width: 130px;
	padding: 100px;
	height: 130px;
	background: url(../img/rent/phone.webp) no-repeat;
	background-position: center;
	margin: 0 auto;
}
.circle2 {
	border: 0.5px solid rgb(255, 255, 255);
	border-radius: 50%;
	width: 130px;
	padding: 100px;
	height: 130px;
	background: url(../img/rent/passport.webp) no-repeat;
	background-position: center;
	margin: 0 auto;
}
.circle3 {
	border: 0.5px solid rgb(255, 255, 255);
	border-radius: 50%;
	width: 130px;
	padding: 100px;
	height: 130px;
	background: url(../img/rent/gamepad.webp) no-repeat;
	background-position: center;
	margin: 0 auto;
}
/*    footer    */
.footer {
	padding-top: 15px;
}
.footer__inner {
	padding-top: 100px;
	display: flex;
	justify-content: space-around;
}
.footer__time-place {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 50px;
	letter-spacing: 0.1em;
	color: #ffffff;
}
.footer__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 50px;
	letter-spacing: 0.1em;
	color: #ffffff;
	z-index: 40;
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer__tagline {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: right;
	max-width: 600px;
}
.footer-underline {
	width: 550px;
	height: 10px;
}
@media (max-width: 911px) {
	.header__menu {
		justify-content: space-around;
	}
	.header__content {
		padding-right: 15px;
	}
}
@media (max-width: 881px) {
	.slider__container {
		max-width: 100%;
	}
}
@media (max-width: 721px) {
	.header {
		padding: 15px 0 0 0;
	}
	.logo__name {
		font-size: 28px;
		line-height: 30px;
	}
	.menu {
		font-size: 10px;
	}
	.header__title {
		margin-bottom: 15px;
		font-size: 45px;
		line-height: 40px;
	}
	.header__title-underline {
		width: 450px;
	}
	.title {
		font-size: 22px;
		line-height: 22px;
	}
	.subtitle {
		font-size: 26px;
		line-height: 32px;
		font-weight: 400;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.header__btn {
		padding: 10px 45px 10px 45px;
		margin-bottom: 100px;
	}
	.slider {
		padding: 15px 15px 1400px 15px;
		background: url(../img/backgroun/klipartz\ 2.png) center 400px / 80% auto no-repeat,
			url(../img/backgroun/klipartz\ 3.png) 0 1000px / 80% auto no-repeat;
	}
	.slick-arrow {
		display: none;
	}
	.slider__title {
		font-size: 16px;
		line-height: 16px;
		padding-bottom: 25px;
	}
	.slider__text {
		margin-left: 15px;
	}
	.text__title {
		font-size: 12px;
		line-height: 15px;
		padding-bottom: 20px;
	}
	.rent {
		margin-top: -1200px;
		margin-bottom: 250px;
		padding-top: 15px;
	}
	.rent__inner {
		padding-top: 30px;
		flex-direction: column;
		justify-content: flex-start;
	}
	.rent-condition {
		height: 340px;
	}
	.rent-condition__title {
		padding-top: 30px;
		font-size: 14px;
		line-height: 25px;
	}
	.rent-condition__list-item {
		font-size: 10px;
		line-height: 25px;
		text-align: start;
	}
	.circle2 {
		margin-top: 15px;
	}
	.circle3 {
		margin-top: 15px;
	}
	.footer__inner {
		padding-top: 25px;
	}
	.footer__title {
		font-size: 12px;
		line-height: 25px;
	}
	.footer__text {
		font-size: 12px;
		line-height: 25px;
	}
	.footer__tagline {
		padding-top: 100px;
		padding-bottom: 100px;
		padding-right: 15px;
		text-align: right;
		max-width: 600px;
	}
}
@media (max-width: 501px) {
	.header__title-underline {
		width: 250px;
	}
	.header__title {
		font-size: 35px;
		line-height: 35px;
	}
	.menu {
		display: flex;
		justify-content: space-around;
		text-align: center;
		width: 100%;
		position: absolute;
		top: 100px;
		right: 0;
		padding-right: 15px;
		transform: translateX(-600px);
		transition: all 0.5s;
	}
	.menu.menu--active {
		transform: translateY(0px);
	}
	.menu__btn {
		display: block;
		width: 35px;
		height: 24px;
		cursor: pointer;
		border: none;
		border-top: 2px solid #fefefe;
		border-bottom: 2px solid #fefefe;
		background-color: transparent;
		position: relative;
	}
	.menu__btn::before {
		content: "";
		position: absolute;
		width: 35px;
		height: 1.5px;
		background-color: #fefefe;
		left: 0;
		top: 9px;
	}
	.slider__img {
		width: 120px;
		height: 120px;
	}
	.img-layer2-xbox {
		left: 45px;
	}
	.rent-condition__list {
		list-style-type: "";
	}
	.rent-condition__list-item {
		font-family: Roboto;
		font-weight: normal;
		text-align: center;
		font-size: 10px;
		line-height: 20px;
		letter-spacing: 0.2em;
		color: #ffffff;
	}
}
@media (max-width: 371px) {
	.header__title {
		font-size: 30px;
		line-height: 35px;
	}
	.footer__inner {
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer__text {
		font-size: 9px;
		line-height: 15px;
	}
}
